/* fonts */
@font-face {
  font-family: "Avenir-Heavy";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Avenir-Heavy-05.ttf") format("truetype");
}
@font-face {
  font-family: "Avenir-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/AvenirLTStd-Medium.otf") format("opentype");
}



/* screen - home-page */
.home-page {
  background-color: #212123;
  background-size: cover;
}

.home-page .searchbar {
  background-color: transparent;
  height: 39px;
  left: 455px;
  position: absolute;
  top: 46px;
  width: 425px;
}

.home-page .rectangle-13 {
  background-color: #363638;
  border-radius: 8px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 425px;
}

.home-page .search-text {
  background-color: transparent;
  color: var(--gray-chateau);
  font-family: var(--font-family-avenir-heavy);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 55px;
  letter-spacing: 0.00px;
  line-height: 17px;
  position: absolute;
  text-align: left;
  top: 11px;
  white-space: nowrap;
  width: auto;
}

.home-page .searchbar-icon {
  background-color: transparent;
  height: 19px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 19px;
}

.home-page .coverphoto {
  background-color: transparent;
  height: 427px;
  left: 455px;
  object-fit: cover;
  position: absolute;
  top: 138px;
  width: 1400px;
}

.home-page .our-games {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-avenir-heavy);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 455px;
  letter-spacing: 0.00px;
  line-height: 35px;
  position: absolute;
  text-align: left;
  top: 640px;
  white-space: nowrap;
  width: auto;
}

.home-page .top {
  background-color: transparent;
  height: 51px;
  left: 715px;
  position: absolute;
  top: 633px;
  width: 165px;
}

.home-page .rectangle-12 {
  background-color: var(--medium-purple);
  border-radius: 50px;
  height: 51px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 165px;
}

.home-page .top-text {
  background-color: transparent;
  height: auto;
  left: 66px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: auto;
}

.home-page .popular {
  background-color: transparent;
  height: 51px;
  left: 910px;
  position: absolute;
  top: 633px;
  width: 165px;
}

.home-page .rectangle-11 {
  background-color: transparent;
  border: 1px solid #707070;
  border-radius: 50px;
  height: 51px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 165px;
}

.home-page .popular-text {
  background-color: transparent;
  height: auto;
  left: 47px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: auto;
}

.home-page .most-sold {
  background-color: transparent;
  height: 51px;
  left: 1105px;
  position: absolute;
  top: 633px;
  width: 165px;
}

.home-page .rectangle-10 {
  background-color: transparent;
  border: 1px solid #707070;
  border-radius: 50px;
  height: 51px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 165px;
}

.home-page .most-sold-text {
  background-color: transparent;
  height: auto;
  left: 37px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: auto;
}

.home-page .userpage-icon {
  background-color: transparent;
  height: 65px;
  left: 1755px;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 65px;
}

.home-page .shoppingcart-icon {
  background-color: transparent;
  height: 35px;
  left: 1690px;
  position: absolute;
  top: 48px;
  width: 35px;
}

.home-page .path-13 {
  background-color: transparent;
  height: 6px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 6px;
}

.home-page .path-14 {
  background-color: transparent;
  height: 6px;
  left: 27px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 6px;
}

.home-page .path-15 {
  background-color: transparent;
  height: 28px;
  left: -2px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 38px;
}

.home-page .menu {
  background-color: transparent;
  height: 1330px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.home-page .rectangle {
  background-color: #191919;
  height: 1330px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 360px;
}

.home-page .about-us {
  background-color: transparent;
  height: auto;
  left: 130px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1013px;
  white-space: nowrap;
  width: auto;
}

.home-page .rectangle-8 {
  background-color: var(--medium-purple);
  border-radius: 50px;
  height: 51px;
  left: 65px;
  position: absolute;
  top: 911px;
  width: 230px;
}

.home-page .sell-your-used-games {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-avenir-heavy);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 89px;
  letter-spacing: 0.00px;
  line-height: 15px;
  position: absolute;
  text-align: left;
  top: 930px;
  white-space: nowrap;
  width: auto;
}

.home-page .help {
  background-color: transparent;
  height: auto;
  left: 130px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 840px;
  white-space: nowrap;
  width: auto;
}

.home-page .help-icon {
  background-color: transparent;
  height: 36px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 832px;
  width: 35px;
}

.home-page .facebook-icon {
  background-color: transparent;
  height: 24px;
  left: 110px;
  object-fit: cover;
  position: absolute;
  top: 769px;
  width: 15px;
}

.home-page .instagram-icon {
  background-color: transparent;
  height: 24px;
  left: 136px;
  object-fit: cover;
  position: absolute;
  top: 769px;
  width: 24px;
}

.home-page .twitter-icon {
  background-color: transparent;
  height: 22px;
  left: 167px;
  object-fit: cover;
  position: absolute;
  top: 770px;
  width: 28px;
}

.home-page .used-games {
  background-color: transparent;
  height: auto;
  left: 130px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 702px;
  white-space: nowrap;
  width: auto;
}

.home-page .usedgames-icon {
  background-color: transparent;
  height: 20px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 702px;
  width: 35px;
}

.home-page .new-games {
  background-color: transparent;
  height: auto;
  left: 130px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 638px;
  white-space: nowrap;
  width: auto;
}

.home-page .path-11 {
  background-color: transparent;
  height: 3px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  top: 644px;
  width: 3px;
}

.home-page .path-12 {
  background-color: transparent;
  height: 25px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 635px;
  width: 35px;
}

.home-page .top-games {
  background-color: transparent;
  height: auto;
  left: 130px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 574px;
  white-space: nowrap;
  width: auto;
}

.home-page .topgames-icon {
  background-color: transparent;
  height: 35px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 566px;
  width: 35px;
}

.home-page .category {
  background-color: transparent;
  height: auto;
  left: 65px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 510px;
  white-space: nowrap;
  width: auto;
}

.home-page .search {
  background-color: transparent;
  height: auto;
  left: 130px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 436px;
  white-space: nowrap;
  width: auto;
}

.home-page .search-icon {
  background-color: transparent;
  height: 34px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 428px;
  width: 35px;
}

.home-page .favorite {
  background-color: transparent;
  height: auto;
  left: 130px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 372px;
  white-space: nowrap;
  width: auto;
}

.home-page .favorite-icon {
  background-color: transparent;
  height: 34px;
  left: 64px;
  object-fit: cover;
  position: absolute;
  top: 365px;
  width: 38px;
}

.home-page .profile {
  background-color: transparent;
  height: auto;
  left: 130px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 302px;
  white-space: nowrap;
  width: auto;
}

.home-page .profile-icon {
  background-color: transparent;
  height: 33px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 296px;
  width: 35px;
}

.home-page .rectangle-9 {
  background-color: var(--medium-purple);
  border-radius: 50px;
  height: 51px;
  left: 65px;
  position: absolute;
  top: 198px;
  width: 230px;
}

.home-page .go-to-catalog {
  background-color: transparent;
  height: auto;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 214px;
  white-space: nowrap;
  width: auto;
}

.home-page .gamehub-logo {
  background-color: transparent;
  height: 81px;
  left: 65px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 165px;
}

.home-page .game-hub {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-avenir);
  font-size: var(--font-size-l);
  font-weight: 500;
  height: auto;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 126px;
  white-space: nowrap;
  width: auto;
}

.home-page .span0 {
  color: var(--medium-purple);
  font-family: var(--font-family-avenir-medium);
  font-style: normal;
}

.home-page .span1 {
  color: var(--gray-chateau);
  font-family: var(--font-family-avenir-medium);
  font-style: normal;
}

.home-page .span2 {
  font-family: var(--font-family-avenir-medium);
  font-style: normal;
}

.home-page .boxer {
  background-color: transparent;
  border-radius: 10px;
  height: 427px;
  left: 455px;
  object-fit: cover;
  position: absolute;
  top: 750px;
  width: 325px;
}

.home-page .cyberpunk {
  background-color: transparent;
  border-radius: 10px;
  height: 427px;
  left: 815px;
  object-fit: cover;
  position: absolute;
  top: 750px;
  width: 325px;
}

.home-page .racing {
  background-color: transparent;
  border-radius: 10px;
  height: 427px;
  left: 1170px;
  object-fit: cover;
  position: absolute;
  top: 750px;
  width: 325px;
}

.home-page .spacewar {
  background-color: transparent;
  border-radius: 10px;
  height: 427px;
  left: 1530px;
  object-fit: cover;
  position: absolute;
  top: 751px;
  width: 325px;
}

.home-page .boxer-text {
  background-color: transparent;
  height: auto;
  left: 455px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1194px;
  white-space: nowrap;
  width: auto;
}

.home-page .playbox-1 {
  background-color: transparent;
  height: auto;
  left: 455px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1236px;
  white-space: nowrap;
  width: auto;
}

.home-page .cyberpunk-text {
  background-color: transparent;
  height: auto;
  left: 815px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1194px;
  white-space: nowrap;
  width: auto;
}

.home-page .playbox-2 {
  background-color: transparent;
  height: auto;
  left: 815px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1236px;
  white-space: nowrap;
  width: auto;
}

.home-page .racing-text {
  background-color: transparent;
  height: auto;
  left: 1170px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1194px;
  white-space: nowrap;
  width: auto;
}

.home-page .playbox-3 {
  background-color: transparent;
  height: auto;
  left: 1170px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1236px;
  white-space: nowrap;
  width: auto;
}

.home-page .space-war-text {
  background-color: transparent;
  height: auto;
  left: 1530px;
  letter-spacing: 0.00px;
  line-height: 30px;
  position: absolute;
  text-align: left;
  top: 1194px;
  white-space: nowrap;
  width: auto;
}

.home-page .playbox-4 {
  background-color: transparent;
  height: auto;
  left: 1530px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 1236px;
  white-space: nowrap;
  width: auto;
}

/* Styles */
:root { 
  --gray-chateau: #a2aaad;
  --medium-purple: #8f65d8;
  --white: #ffffff;
 
  --font-size-l: 28px;
  --font-size-m: 20px;
  --font-size-s: 17px;
  --font-size-xl: 30px;
  --font-size-xs: 15px;
  --font-size-xxl: 35px;
 
  --font-family-avenir: "Avenir", Helvetica;
  --font-family-avenir-heavy: "Avenir-Heavy", Helvetica;
  --font-family-avenir-medium: "Avenir-Medium", Helvetica;
}
.avenir-heavy-normal-gray-chateau-20px {
  color: var(--gray-chateau);
  font-family: var(--font-family-avenir-heavy);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.avenir-heavy-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-avenir-heavy);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.avenir-heavy-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-avenir-heavy);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
}
